:root {
  --accent-color: #2196f3;
  --main-primary-color: #757575;
  --main-secondary-color: #212121;
  --secondary-accent-color: #ffffff;
  --secondary-background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --third-background-color: #f5f4fa;
}

/* ------COMMON------ */
body {
  color: var(--main-primary-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-link,
.contact-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.title {
  color: var(--main-secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* ------END COMMON------ */

/* ------HEADER------ */
.header .container,
.header .navigation {
  display: flex;
  align-items: center;
}

.header .nav-list {
  display: flex;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo .logo-second {
  color: #000000;
}

.nav-list .nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  color: var(--main-secondary-color);
}

.nav-link.active {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  color: var(--main-primary-color);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}

.header .contact-info {
  margin-left: auto;
}
/* ------END HEADER------ */

/* ------HERO------ */
.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--secondary-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.button {
  color: var(--secondary-accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
}
/* ------END HERO------ */

/* ------ADVANTAGES------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title {
  color: var(--main-secondary-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  text-transform: uppercase;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
/* ------END ADVANTAGES------ */

/* ------OUR WORKS------ */

/* ------END OUR WORKS------ */

/* ------OUR TEAM------ */
.team {
  background-color: var(--third-background-color);
}

.team-title {
  color: var(--main-secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
/* ------END OUR TEAM------ */

/* ------FOOTER------ */
.footer {
  background-color: var(--secondary-background-color);
}

.footer-text {
  color: var(--secondary-accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact-info {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.logo-second.dark {
  color: var(--secondary-accent-color);
}
/* ------END FOOTER------ */

/* ------PORTFOLIO MAIN------ */
.button-portfolio {
  color: var(--main-secondary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  background-color: var(--third-background-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  color: var(--main-secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
}

.portfolio-link {
  color: inherit;
}
/* ------ END PORTFOLIO MAIN------ */ ;
